body
{
    background-image: url(../img/background/hexabump_@2X.png);
}

.page-wrap
{
    max-width: 1800px;
}

.page-wrap p,
.page-wrap label
{
    color: white;
}

.page-wrap small
{
    color: grey;
}

body h1,
body h2,
body h3,
body h4
{
    color: #99ccff;
}

.box
{
    /*border-color: lightblue;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 110%;
    margin-bottom: 20px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
}

.box h1,
.box h2,
.box h3,
.box h4
{
    color: black;
    text-align: center;
}

.header-ender
{
    border: 3px double #99ccff;
}

.poster
{
    padding: 10px;
    width: 225px;
    height: 333px;
}

.form-control
{
    border-radius: 0px !important;
}

.main-container, footer {
    margin-top: 50px;
}

.main-container p, h1, h2, h3, h4, h5, small, label{
    color:#fff;
    padding: 0px;
}

.navbar-inverse a:hover
{
    color: #99ccff !important;
}

#navbar-dropdown-menu
{
    background-color: #333 !important;
}

#navbar-dropdown-menu a
{
    background-color: #333 !important;
    color:lightgray !important;
}

#navbar-dropdown-menu li a:hover
{
    background-color: #333 !important;
    color:#99ccff !important;
}

.dropdown-menu li a:focus, .dropdown-menu li a:hover {
    background-image: none;
    background-color: #333;
}

@media(max-width:480px)
{

    #registerForm {
        padding-top: 0px;
    }
}
