<!--
User story ID: OMI_014
Author: Heini L. Ovason
-->


<div ng-controller="RegisterCtrl" ng-submit="register()">
       <div>
       <h3>Register:</h3>
       <p><h5>Username, {{form.username}}</h5></p>
       <p><h5>Email, {{form.email}}</h5></p>
       <p><h5>Pass, {{form.password}}</h5></p>
       <p><h5>Pass-retype, {{form.rePassword}}</h5></p>

        <form  id="registerForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="form.username" type="text" name="username" id="username" class="form-control" placeholder="Username" required>   
        </div>
            <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="form.email" type="email" name="email" id="email" class="form-control" placeholder="Email Address" required>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="form.password"type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>

         <!-- Retype Password -->
        <div class="form-group">
            <label for="rePassword">Retype Password</label>
            <input ng-model="form.rePassword" type="password" name="rePassword" id="rePassword" class="form-control" placeholder="Confirm Password" required>
        </div>


        <!-- Checkbox & Link to Terms of Condition-->
        <div class="form-group">
            <!-- Modal view of Terms & Conditions? -->
            <input ng-model="acceptTaC" type="checkbox" required>
            <small>I accept <a href="#">Terms & Conditions</a></small>
        </div>


         <input type="button" id="registerBtn" ng-click="register()" class="btn btn-primary" type="submit" value="Signup"> 
        </form>
      </div>

       
</div>

<!-- Access the regex standards variables defined in config.php -->
<!-- 
jQuery (necessary for Bootstrap's JavaScript plugins)
To verify that backend registration validation is working simply commendable
commend out the script.
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
  
</script>

